body {
    background-color: #011f4b;
}

/*STYLE FOR TOP BANNER with links to other pages*/

.logoBox {
    margin: auto;
    margin-top: 20px;
    width: 110px;
    height: 110px;
    color: #03396c;
    /* border: 7px;
    border-color: black;
    border-style: solid;*/
    /* display: inline-block; */
}

.letterBox {
    font-size: 52px;
    width: 50px;
    height: 54px;
    font-weight: bold;
    /* border: 1px;
    border-color: darkblue;
    background-color: lightskyblue;
    border-style: solid;*/
    display: inline-block;
}

#dbox {
    position: relative;
    top: 32px;
    left: -12px;
}

.bannerBox {
    display: flex;
    /*everything inside bannerBox is now flex*/
    /* flex-direction: column; */
    flex-direction: row;
    background-color: #03396c;
    /* flex-wrap: wrap; */
    /*adjust itself good for cell phones it will wrap the data*/
    justify-content: center;
    /*to use this need to comment out flex-wrap*/
    border-radius: 15px;
}

.bannerBox>div {
    /* display: inline-block; */
    background-color: #005b96;
    margin: 10px;
    text-align: center;
    width: 100px;
    /*when use flex set the width and then use .container to set everything*/
    font-size: 30px;
    border-radius: 10px;
}

#about {
    width: 200px;
}

.links {
    cursor: pointer;
}

/*STYLE FOR (michael deitzel/about me) and INFO/SKILLS Container*/

#container {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #b3cde0;
    position: relative;
}

#background {
    text-align: center;
    font-size: 90px;
    font-family: Verdana;
    color: #03396c;
    font-weight: bolder;
    word-spacing: 35px;
    position: absolute;
    top: -20;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    /* overflow: hidden; */
}

.container {
    margin-top: 40px;
    margin-left: 270px;
    margin-right: 270px;
    /* display: inline-block; */
    display: flex;
    /*everything inside container is now flex*/
    /* flex-direction: column; */
    flex-direction: row;
    background-color: #03396c;
    /* flex-wrap: wrap; */
    /*adjust itself good for cell phones it will wrap the data*/
    justify-content: center;
    /*to use this need to comment out flex-wrap*/
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
}

.container>div {
    background-color: #005b96;
    margin: 10px;
    text-align: center;
    width: 350px;
    /*when use flex set the width and then use .container to set everything*/
    font-size: 30px;
    border-radius: 15px;
}

li {
    margin-top: 10px;
}

.subHeader {
    font-family: Impact;
    color: #6497b1;
}

.smallBox {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    color: #b3cde0;
    border: #b3cde0;
    border-width: 1px;
    border-style: dotted;
}