body {
    background-image: url("images/background.jpg");
}

#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1890px;
    border: 4px solid#555;
}

#header {
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    text-shadow: 3px 3px gray;
}

.container {
    display: grid;
    grid-template-areas: "a a b""a a c""e f c""e f d";
    grid-template-rows: 4% 4% 30% 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 939px;
    border: 4px solid grey;
    border-radius: 2%;
}

/* .container>div {
    border-color: black;
    border-style: solid;
    border-width: 1px;
} */

.box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

#turtle {
    height: 450px;
    width: 284px;
}

#genOverBanner {
    height: 53px;
    width: 284px;
    border-top-right-radius: 10%;
}

.textBox {
    background-color: #ffd966;
    border: 2px solid darkslategray;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    border-radius: 10px;
}

#credits {
    background-color: #99b058;
}

#rotBanner3 {
    border: 4px solid grey;
    background-color: darkgrey;
    border-top-left-radius: 4%;
}

.text {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    border-radius: 10px;
}

.space {
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

.spaceTorso {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.spaceEditor {
    margin-left: 3%;
    margin-right: 3%;
}

#starring {
    margin-top: 5%;
}

.titles {
    font-weight: bold;
}

.box4Text {
    margin-left: 20%;
}

.links {
    margin-left: 12%;
}

a:link {
    /*unvisited link*/
    color: red;
}

a:visited {
    /*I'm guessing if it's visited before it will be green*/
    color: blue;
}

a:hover {
    color: green;
}

a:active {
    /*turns purple after I click on it for a moment*/
    color: indigo;
}