body {
    background-color: #011f4b;
}

.logoBox {
    margin: auto;
    margin-top: 3%;
    margin-left: 47%;
    width: 110px;
    height: 110px;
    color: #03396c;
    /* border: 7px;
    border-color: black;
    border-style: solid;*/
    /* display: inline-block; */
}

.letterBox {
    font-size: 52px;
    width: 50px;
    height: 54px;
    font-weight: bold;
    /* border: 1px;
    border-color: darkblue;
    background-color: lightskyblue;
    border-style: solid;*/
    display: inline-block;
}

#dbox {
    position: relative;
    top: 32px;
    left: -12px;
}

.bannerBox {
    display: flex;
    /*everything inside bannerBox is now flex*/
    /* flex-direction: column; */
    flex-direction: row;
    background-color: #03396c;
    /* flex-wrap: wrap; */
    /*adjust itself good for cell phones it will wrap the data*/
    justify-content: center;
    /*to use this need to comment out flex-wrap*/
    border-radius: 5px;
}

.bannerBox>div {
    /* display: inline-block; */
    background-color: #005b96;
    margin: 10px;
    text-align: center;
    width: 100px;
    /*when use flex set the width and then use .container to set everything*/
    font-size: 30px;
    border-radius: 10px;
}

.links {
    cursor: pointer;
}

#home {
    width: 200px;
}

#picture {
    margin: auto;
    margin-top: 3%;
    width: 470px;
    height: 470px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 235px;
    border: 20px solid #03396c;
    background-image: url("images/me (2).jpg");
    box-sizing: border-box;
    position: relative;
}

#outerBorder {
    margin: auto;
    margin-top: 2%;
    width: 500px;
    height: 500px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 250px;
    border: 20px solid #005b96;
    position: absolute;
    top: -10%;
    left: -8%;
    bottom: 0;
    right: 0;
    z-index: -1;
    box-sizing: border-box;
}