body {
    background-color: #011f4b;
}

.logoBox {
    margin: auto;
    width: 110px;
    height: 110px;
    color: #03396c;
    /* border: 7px;
    border-color: black;
    border-style: solid;*/
    /* display: inline-block; */
}

.letterBox {
    font-size: 52px;
    width: 50px;
    height: 54px;
    font-weight: bold;
    /* border: 1px;
    border-color: darkblue;
    background-color: lightskyblue;
    border-style: solid;*/
    display: inline-block;
}

#dbox {
    position: relative;
    top: 32px;
    left: -12px;
}

.bannerBox {
    display: flex;
    /*everything inside bannerBox is now flex*/
    /* flex-direction: column; */
    flex-direction: row;
    background-color: #03396c;
    /* flex-wrap: wrap; */
    /*adjust itself good for cell phones it will wrap the data*/
    justify-content: center;
    /*to use this need to comment out flex-wrap*/
    border-radius: 15px;
}

.bannerBox>div {
    /* display: inline-block; */
    background-color: #005b96;
    margin: 10px;
    text-align: center;
    width: 100px;
    /*when use flex set the width and then use .container to set everything*/
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}

#project {
    width: 200px;
}

.links {
    cursor: pointer;
}

.family {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

tr {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: #b3cde0;
}

.subheader {
    font-family: Impact;
    color: #6497b1;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

.fade-in {
    animation: fadeIn ease 30s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut ease 15s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#clock {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #6497b1;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.words {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: #6497b1;
}

.btn-primary {
    background-color: #03396c;
    color: #b3cde0;
    border-color: #03396c;
}

/* .design {
    margin-left: 20%;
}

.develop {
    margin-left: 75%;
} */